[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
django = "*"
djangorestframework = "*"
evestidor-event-stream = {git = "https://github.com/evestidor/core-event-stream.git"}

[dev-packages]
pytest = "*"
pytest-spec = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
